body, html {
    height: 100%;
    background-image: url("images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    cursor: pointer;
}

.area1 {
    display: inline-block;
}

.newclass {
    text-align: center;
}

.container {
    background-color: #d6d8d8;
}

.panel-heading {
    background-color: #0b2e13;
}

.ordh1 {
    font-family: sans-serif;
    font-weight: normal;
}

.container {
    height: 100%;
}